
.backgroundContainer {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-image: url('/backgrounds/slide1-bg-image.jpg');
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 49%;
    width: 50%;
    height: 100%;
    /*opacity: 0.5; /* Adjust opacity as needed */
    /*z-index: 1;*/
  }

  .topiccontactus {
    font-weight: 20px;
    text-align: center;
    font-size: 300%;
   
  }
  
  .contentcontactus {
    font-weight: 15px;
    text-align: center;
    font-size: 100%;
    line-height: 0.8;
  }

  .backgroundContainer2 {
    display: flex;
    flex-direction: row;
    
    margin-left: 5%;
    width: 90%;
    height: 100vh;
    overflow: hidden;
    /*background-color: aqua;*/
    border-radius: 3%;
    border: 2px solid rgb(188, 186, 186);
}

  .backgroundContainer3 {
    position: relative;
    margin-left: 45%;
    width: 45%;
    height: 5%;
    overflow: hidden;
    background-color: rgb(132, 255, 0);
    border-radius: 30%;
  }

  .container {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 130vh;
    border: 2px solid rgb(188, 186, 186);
    border-radius: 2.5rem;
  }
  
  .contactForm {
    flex: 1;
    padding: 2rem;
    /*background-color: white;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  }
  
  .heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 10%;
  }
  
  .redText {
    color: red;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-top: 7%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 7%;
  }
  
  .inputGroup {
    display: flex;
    gap: 1rem;
  }
  
  .input {
    flex: 1;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    resize: vertical;
  }
  
  .button {
    padding: 0.75rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
  }
  
  .mapContainer {
    flex: 1;
    position: relative;
  }
  
  .mapContainer iframe {
    width: 100%;
    height: 50%;
    border-radius: 0 2.5rem 0rem 0;
  }
  
  .contactDetails {
    width: 100%;
    height: 50%;
    position: relative;
    bottom: 0.5rem;
    background:#FFF1F1;
    padding: 1rem;
    border-radius: 0 0 2.5rem 0;
   
  }
  
  .contactItem {
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 2%;
    line-height: 0.8;
    margin-top: 0.5rem;
  }
  
  .icon {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
  }

  .icontext {
    flex-direction: row;
    display: inline-flex;
    margin-right: 0.5rem;
    align-items: center;
  }
  
  .socialLinks {
    text-align: center;
    color: #686868;
    font-size: 30px;
    margin-top: 8%;
  }
  
  .socialLinks p {
    margin-bottom: 0.5rem;
  }
  
  .socialLinks .icons a {
    margin: 0 0.5rem;
  }
  
  