@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --font-primary: "Poppins", sans-serif;

  --color-primary-red: #F90305;
  --color-gray: #4D5053;
  --color-black: #000000;
  --color-white: #ffffff;

  --main-vw-padding: 100px;

  --hero-title-font-size: 70px;
  --hero-title-line-height: 84px;
  --max-content-width: 1800px;
  --headingStyleFS: 50px;
  --paraStyleTwo: 20px;
}

@media (min-width: 1920px) {
  :root {
    --hero-title-font-size: 90px;
    --hero-title-line-height: 124px;
    --headingStyleFS: 50px;
    --paraStyleTwo: 20px;
    --secTitleFS: 50px;
  }
}

@media (max-width: 1800px) {
  :root {
    --main-vw-padding: 50px;
    --hero-title-font-size: 70px;
    --hero-title-line-height: 80px;
    --headingStyleFS: 40px;
    --paraStyleTwo: 16px;
    --secTitleFS: 40px;
  }
}

@media (max-width: 1400px) {
  :root {
    --main-vw-padding: 50px;
    --hero-title-font-size: 70px;
    --hero-title-line-height: 80px;
    --headingStyleFS: 40px;
    --paraStyleTwo: 16px;
    --secTitleFS: 40px;
  }
}

@media (max-width: 992px) {
  :root {
    --main-vw-padding: 50px;
    --hero-title-font-size: 50px;
    --hero-title-line-height: 64px;
    --headingStyleFS: 36px;
    --paraStyleTwo: 16px;
    --secTitleFS: 36px;
  }
}

@media (max-width: 600px) {
  :root {
    --main-vw-padding: 20px;
    --paraStyleTwo: 14px;
  }
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input,
select,
option,
textarea,
label {
  font-family: var(--font-primary);
}

body {
  overflow-x: hidden;
}


/* bootstrap overrides */
.nav-link {
  color: var(--color-black);
  font-family: 16px;
  font-weight: 700;
  margin-left: 30px;
}

.navButton {
  color: var(--color-white) !important;
  background-color: var(--color-primary-red) !important;
  font-family: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none !important;
  width: max-content;
}

.nav-link:hover {
  color: var(--color-primary-red) !important;
}



/* styles - all */
.sec-x-padding {
  padding: var(--main-vw-padding);
}

.max-width-on-xl-screen {
  max-width: var(--max-content-width);
}




/* styles - hero sec*/
.heroSec {
  height: calc(100vh - 76px);
  width: 100vw;
  background-position: right bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 80vh, cover;
  background-blend-mode: normal, normal;
  
}

.heroSec h2 {
  color: var(--color-white);
  font-size: var(--hero-title-font-size);
  font-weight: 400;
  line-height: var(--hero-title-line-height);
}

.heroSec h2 span {
  color: var(--color-primary-red);
  font-weight: 700;
}


/* styles - who we are sec*/
.whoWeAre {
  height: 85vh;
  width: 95vw;
  background-color: var(--color-white);
  /* border: 1px solid black; */
  margin-left: 25px;
  border-radius: 20px;
 
  

  
}

.whowearemobile {
  
  width: 95vw;
  background-color: var(--color-white);
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 20px;
  
}

.whoweareipad {
  
  width: 95vw;
  background-color: var(--color-white);
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 20px;
}

.whowearetab {
  
  width: 95vw;
  background-color: var(--color-white);
  border: 1px solid black;
  margin-left: 15px;
  border-radius: 20px;
}

.whoWeAreImg {
  width: 80%;
  height: auto;
  
  border-radius: 20px;
}

.headingStyleOne {
  color: var(--color-black);
  font-size: var(--headingStyleFS);
  font-weight: 500;
}

.headingStyleOne span {
  color: var(--color-primary-red);
  font-weight: 600;
}

.paraStyleOne {
  color: var(--color-gray);
  font-size: var(--paraStyleTwo);
  font-weight: 400;
}

.arrowButtonRedBg {
  color: var(--color-white) !important;
  background-color: var(--color-primary-red) !important;
  font-family: 16px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none !important;
  width: max-content;
  padding: 10px 20px !important;
}

.arrowButtontransparentBg {
  color: var(--color-primary-red) !important;
  background-color: transparent !important;
  font-family: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--color-primary-red);
  text-decoration: none !important;
  width: max-content;
  padding: 10px 20px !important;
}

.lineShort {
  width: 35px;
  height: 4px;
  background-color: var(--color-primary-red);
  margin-right: 20px;
}

.lineLong {
  width: 100px;
  height: 4px;
  background-color: var(--color-primary-red);
  margin-right: 80px;
}

.secTitleOne {
  color: var(--color-black);
  font-size: 26px;
  font-weight: 600;
}

.secTitleStyleTwo h2 {
  font-size: var(--secTitleFS);
  font-weight: 600;
}
.secTitleStyleTwo p {
  font-size: var(--paraStyleTwo);
  font-weight: 400;
}

.ourServices{
  background-color: var(--color-white);
  width: 100vw;
  min-height: 100vh;
}

.ourSolutions{
  background-color: var(--color-white);
  width: 100vw;
  min-height: 80vh;
  background-image: url('/backgrounds/slide1-bg-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
}


.sliderCard{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 75vw;
}


.sliderCard .right{
  background-color: #FFF4F4;
  border-radius: 10px;
  padding: 30px 20px;
}

.sliderCard .right h3{
  color: #000;
  font-size: 45px;
  font-weight: 600;
}

.sliderCard .right p{
  color: #4D5053;
  font-size: 16px;
  font-weight: 400;
}

.arrowButtonRedLine {
  color:  var(--color-primary-red) !important;
  background-color: #fff;
  font-family: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: solid 1px  var(--color-primary-red) !important;;
  text-decoration: none !important;
  width: max-content;
  padding: 10px;
}

.ant-carousel .slick-dots-bottom{
  bottom: -20px !important;
}


.ant-carousel .slick-dots li{
  width: 20px !important;
  height: 5px !important;
}
.ant-carousel .slick-dots li button{
  background-color: #DDDDDD !important;
  opacity: 0.8 !important;
  height: 5px !important;
}
.ant-carousel .slick-dots .slick-active{
  width: 35px !important;
}
.ant-carousel .slick-dots .slick-active button{
  background-color: #EB131B !important;
}

.serviceArrow{
  position: absolute;
  bottom: 0;
  right: 0;
}

.caseCard{
  background-color: transparent;
  padding: 20px;
  max-width: 75vw;
}

.testimonialCard{
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  max-width: 75vw;
}

.testimonialContent h3{
  font-size: 20px;
  color: #222;
  font-weight: 500;
}
.testimonialContent p{
  font-size: 16px;
  color: #222;
  font-weight: 500;
}
.testimonialDesc{
  font-size: 20px;
  color: #000;
  font-weight: 300;
}

.blogCardTitle{
  font-size: 22px;
  color: #252B42;
  font-weight: 600;
  min-height: 53px;
  line-height: 30px;
}

.blogCardTitle2{
  font-size: 22px;
  color: #252B42;
  font-weight: 600;
  height: 90px;
  line-height: 30px;
}

@media (min-width: 765px) and (max-width: 1200px) {

  .blogCardTitle2{
    font-size: 25px;
    color: #252B42;
    font-weight: 600;
    height: 90px;
    line-height: 30px;
  }

  .blogCardDescriptionL2{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #737373;
    font-weight: 400;
   height: 120px;
    line-height: 20px;
  }
 
}






.blogCardDescription{
  font-size: 14px;
  color: #737373;
  font-weight: 400;
  min-height: 127px;
  line-height: 20px;
}


.ant-carousel .slick-prev, .ant-carousel .slick-next{
  color: #EB131B !important;
  width: 50px !important;
  height: 50px !important;
  opacity: 1 !important;
  border: solid 1px #EB131B !important;
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-carousel .slick-prev::after, .ant-carousel .slick-next::after{
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
  position: relative !important;
}
.ant-carousel .slick-prev::after{
  left: 2px !important;
  top: 0px !important;
}
.ant-carousel .slick-next::after{
  left: -2px !important;
  top: 0px !important;
}

.arrowButtonRedLineH {
  color:  var(--color-primary-red) !important;
  background-color: #fff;
  font-family: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  text-decoration: none !important;
  width: max-content;
  padding: 0px;
}

.blogCardDescriptionH{
  font-size: 12px;
  color: #737373;
  font-weight: 400;
  /* min-height: 127px; */
  line-height: 20px;
}
.blogCardDescriptionL{
  font-size: 12px;
  color: #737373;
  font-weight: 400;
  /* min-height: 127px; */
  line-height: 20px;
}
.blogCardTitleH{
  font-size: 24px;
  color: #000;
  font-weight: 600;
  line-height: 30px;
}


@media (max-width:765px) {


  .whoWeAre {
  
    width: 95vw;
    background-color: var(--color-white);
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 100px;
    
  }

  
  
}